<div id="createDialog" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
		closed="true" buttons="#createDialog-buttons">
    @Html.Partial("_Create")
</div>
<div id="createDialog-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveWallpaper('createForm','createDialog')">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#createDialog').dialog('close')">取消</a>
</div>