<div>
  @{
    Dictionary<string, int> notEnough = ViewBag.NotEnough;
}
@foreach (KeyValuePair<string, int> dic in notEnough)
{
    <p>
    <label style="color:red;">型号：@dic.Key  库存量为：  @dic.Value </label>
    </p>
}  
</div>
